{% extends "partials/dashbord_base.html" %}
{% load static %}
{% block content %}
<head>
    <style>

    </style>
</head>
<body>
    <div class="transaction_detail">
        <div class="ot">
         <div class="one">
            <p>{{account.user}}</p>
            <p>{{account.account_number}}</p>
            <p>{{account.account_id}}</p>
         </div> 
         <div class="two">
            <img src="{{kyc.image.url}}" alt="">
         </div>  
        </div>
        <h4 class="rec">Receiver Details</h4>
        <p>{{receiver}}</p>
        <p>{{transaction.amount}}</p>
        <p>{{receiver.account.account_number}}</p>
        <h4>Kyc Details</h4>
        <p>{{kyc.gender}}</p>
        <p>{{kyc_id}}</p>
        <p>{{kyc.date_of_birth}}</p>
        <h4>Transaction Details</h4>
        <p>{{transaction.transaction_id}}</p>
        <p>{{transaction.description}}</p>
        <p>{{transaction_amount}}</p>
        <p>{{transaction.date}}</p>
        <p>{{transaction.status}}</p>
        <p>{{transaction.transaction_type}}</p>
    </div>
</body>
{% endblock %}